*{
    margin:auto;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Calibri", sans-serif ;
}
body{
    background: linear-gradient(145deg, #476ebf 10%, #5b9bf8 90%);
    height: 100vh;
    background-attachment: fixed;
}

/* Tableau */
table{
    width: 100%;
    margin: auto;
}
td{
    text-align: left;
    padding-bottom: 0,5%;
}
.question{
     width:80% ;
 }

/* bouton haut de page */
section {
}
section .container{
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 50px;
    height: 100%;
    text-align: center;
}
section .container header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
section .container nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
section .container nav a{
    margin-left:40px;
    align-items: center;
    color: white;
    font-size: large;
    padding-top : 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}
section .container nav a.active{
    border: 2px solid white;
    border-radius: 30px;
    background-color: #9ec6ff;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}
section .container nav a:hover{
    border: 2px solid white;
    border-radius: 30px;
    background-color: #9ec6ff;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}

/*aligner text au dessus form */
section .block_page{
    align-items: start;
    margin: auto;
    width:80%;
}
section .block_titre{
}
section .block_form{
}

/* form*/
section .block_page .block_form form {

    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #b6d1f8;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin : auto ;
}
 section .block_page .block_form #container h3{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 20px;
}

section .block_page .block_form  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

section .block_page .block_form input[type=submit] {
    background-color: #476ebf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
section .block_page .block_form input[type=submit]:hover {
    background-color: white;
    color: #476ebf;
    border: 1px solid #476ebf;
}
section .block_page .block_form table {
    width: 100%;
    margin: auto;
}
section .block_page .block_form td{
    text-align: left;
    padding-bottom: 0,5%;
}
}

/*footer*/
.bas de page{
    text-align: center;
}

section .container .block_tableau{
    width: 100%;
}
.blanc {
    color: white;
    text-align: center;
}
.erreur {
    width: 80%
    height: 30%;
    border-radius: 60px / 40px;
    background: rgba(238, 77, 96, 0.54);
    text-align: center;
}

