/* Définition des règles du corps de la page */
*{
    margin : auto;
    text-decoration: none;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Calibri", sans-serif ;
}
section {
}
/* Definition des regles du corps de page */
section .container{
    margin: auto;
    max-width: 1400px;
    padding-top: 50px;
    height: 100%;
}

/* Fond de la barre de navigation */
section .fond_entete {
    padding-top: 0;
    background: #0e71a8;
}
/* Definition des regles de la barre de navigation */
section .block_entete{
    margin: auto;
    padding-top: 50px;
    max-width: 1400px;
    height: 100%;
    text-align: center;
    color: white;
}
section header{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
section nav{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
section nav a{
    margin-left:40px;
    align-items: center;
    color: white;
    font-size: large;
    padding-top : 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}
section .navbar_deux{
    align-items: center;
    padding: 10px;
}
section .navbar_deux a{
    margin-left:40px;
    align-items: center;
    color: white;
    font-size: large;
    padding-top : 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}
/* Bouton actif */
section nav a.active{
    border: 2px solid white;
    border-radius: 30px;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}
section .navbar_deux a.active{
    border: 2px solid white;
    border-radius: 30px;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}
/* Bouton survolé */
section nav a:hover{
    border: 2px solid white;
    border-radius: 30px;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}
section .navbar_deux a:hover{
    border: 2px solid white;
    border-radius: 30px;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}


/* Definition des regles des titres */
.block_titre{
    text-align : center ;
}
/* Definition des regles des légendes */
.block_legende{
    text-align : center ;
}
/* Definition des regles de la taille du diagramme radar */
canvas{
    width: 90%;
}

/* Definition des regles des titres des critères */
.block_titre_critere{
    text-aign : left ;
}

/* Definition des regles de la table des critères */
.block_table{
}
table{}
/* Definition des regles des tableaux affichage*/
/* Colonne 1 */
.block_table table .col_1{
    width:10% ;
    text-align : left ;
}
/* Les autres colonnes */
.block_table table .col_2{
    width: 22,5%;
    text-align : center;
}

/* Definition des regles du bouton de validation */
button[type=submit] {
    background-color: #476ebf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
/* Bouton survolé */
button[type=submit]:hover {
    background-color: white;
    color: #476ebf;
    border: 1px solid #476ebf;
}

/* Definition des regles pour les formulaires */
.block_form form {
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #b6d1f8;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin : auto ;
    align-items: center;
    text-align: center;
}
/* Definition des regles du textes p */
.block_form form p{
    text-align: left;
}
/* Definition des regles du textes h3 */
.block_form #container h3{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 20px;
}
/* Definition des regles des input text, mot de pass et checkbox */
.block_form  input[type=text], input[type=password], input[type=checkbox] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Definition des regles des input de validation */
.block_form input[type=submit]{
    background-color: #476ebf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
/* Input survolé */
.block_form input[type=submit]:hover {
    background-color: white;
    color: #476ebf;
    border: 1px solid #476ebf;
}
/* Definition des regles des boutons de validation */
.block_form button[type=submit] {
    background-color: #476ebf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
/* Bouton survolé */
.block_form button[type=submit]:hover {
    background-color: white;
    color: #476ebf;
    border: 1px solid #476ebf;
}

/* Definition des regles des boutons radio */
input[type='radio'] {
    height: 25px;
    width: 25px;
    vertical-align: middle; }