section {
}
section .block_page{
    align-items: start;
    margin: auto;
    width:95%;
}

section .block_page .block_titre{
}
section .block_page .block_form{
}
section .block_page .block_table{
}

.block_page .block_table table{
    width: 100%;
    margin: auto;
}

td{
    text-align: center;
    padding-bottom: 1%;
}
.titre{
    text-align: left;
    width:10% ;
}
.titre2{
    text-align: center;
    width:10% ;
}

.analyse{
    border: solid thin  ;
    border-collapse: collapse;
    width: 95%;
    margin: auto;

}
 button[type=submit] {
    background-color: #476ebf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
 button[type=submit]:hover {
    background-color: white;
    color: #476ebf;
    border: 1px solid #476ebf;
}
input[type=text]{
    size: 80px;
}

.bas{
    width:95%;
}
