/* Définition des
   règles du corps
   de la page */
*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Calibri", sans-serif ;
}
body{
    background-attachment: fixed;
}
section .container{
    max-width: 1400px;
    margin: auto;
    padding-top: 50px;
    height: 100%;
    text-align: center;
}

/* Définition des
   règles pour la
   barre de navigation */
section .container header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin: auto;
}
section .container nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Liens */
section .container nav a{
    margin-left:40px;
    align-items: center;
    text-align: center;
    color: white;
    font-size: large;
    padding-top : 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}
/* Bouton actif */
section .container nav a.active{
    border: 2px solid white;
    border-radius: 30px;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}
/* Bouton survolé */
section .container nav a:hover{
    border: 2px solid white;
    border-radius: 30px;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}
/* Logos Confiance et Icam */
section .container header .left .logo_confiance{
    width: 150px;
    aspect-ratio: 366/257;
}
section .container header .right .logo_icam{
    width: 200px;
    aspect-ratio: 537/331;
}


/* Changement
    index.php */
.maiat{
    width: 90%;
    align-items: center;
    margin: auto;
    text-align: center;
}
.maiat h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
    color: white;
}
.maiat video{
    display: block;
    margin:0px auto 40px auto;
    width: 640px;
    aspect-ratio: 640/480;
}
.maiat .img_prix{
    display: block;
    margin:0px auto 40px auto;
    width: 800px;
    aspect-ratio: 877/620;
}
.maiat p{
    text-align: center;
    color: white;
    font-size: large;
}

/* Responsive accueil MAIAT */
@media screen and (max-width: 1300px) {
    .maiat .img_prix{
        width: 600px;
        aspect-ratio: 877/620;
    }
}


/* Changement
    critere.php */
.critere{
    width: 100%;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.critere h1{
    text-align: center;
    color: white;
    padding-bottom:15px;
}
.critere h2,h4{
    text-decoration: underline white;
    padding-bottom: 10px;
    padding-top: 15px;
    text-align: center;
    color: white;
}
.critere p{
    font-size: 15px;
    padding: 0px;
    text-align: justify;
}
.critere li{
     text-align: justify;
     color: white;
     padding: 0px;
     font-size: 15px;
     list-style: inside;
 }
.critere ul{
    margin-top: 10px;
    margin-bottom: 10px;
}
.critere img{
    display: block;
    margin:0px auto 0px auto;
}
.critere .critere_top{
    align-items: center;
    padding-top: 30px;
}
.critere .critere_top p{
    text-align: center;
}
.critere .critere_top img{
    margin:10px auto 0px auto;
}
.img_vignettes{
    width: 1200px;
    aspect-ratio: 379/168;
}
.critere .critere_bottom{
    align-items: center;
    text-align: center;
}

/*critere reconnaissance*/
.critere .reconnaissance{
    display: flex;
    flex-direction: row;
    width: 100%;

    align-items: start;
    margin-top: 25px;
}
.critere .reconnaissance_left, .reconnaissance_right{
    width: 50%;
}
.critere .reconnaissance_right{
    border: solid white 2px;
    padding: 5px;
}

/*critere desengagement*/
.critere .desengagement{
    display: flex;
    flex-direction: row;
    width: 100%;

    align-items: start;
    margin-top: 25px;
}
.critere .desengagement_left, .desengagement_right{
    width: 50%;
}
.critere .desengagement_left{
    border: solid white 2px;
    padding: 5px;
}

/*critere controle*/
.critere .controle{
    display: flex;
    flex-direction: row;
    width: 100%;

    align-items: start;
    margin-top: 25px;
}
.critere .controle_left, .controle_right{
    width: 50%;
}
.critere .controle_right{
    border: solid white 2px;
    padding: 5px;
}

/*critere autonomie*/
.critere .autonomie{
    display: flex;
    flex-direction: row;
    width: 100%;

    align-items: start;
    margin-top: 25px;
}
.critere .autonomie_left, .autonomie_right{
    width: 50%;
}
.critere .autonomie_left{
    border: solid white 2px;
    padding: 5px;
}


/*critere savoir-faire*/
.critere .depossession{
    display: flex;
    flex-direction: row;
    width: 100%;

    align-items: start;
    margin-top: 25px;
}
.critere .depossession_left, .depossession_right{
    width: 50%;
}
.critere .depossession_right{
    border: solid white 2px;
    padding: 5px;
}

/*critere deresponsabilisation*/
.critere .deresponsabilisation{
    display: flex;
    flex-direction: row;
    width: 100%;

    align-items: start;
    margin-top: 25px;
}
.critere .deresponsabilisation_left, .deresponsabilisation_right{
    width: 50%;
}
.critere .deresponsabilisation_left{
    border: solid white 2px;
    padding: 5px;
}
/*Images de la base théorique*/
.img_basetheorique{
    width: 600px;
    aspect-ratio: 4226/2889;
}

/* Responsive critere.php */
@media screen and (max-width: 1400px) {
    section .container {
        text-align: center;
    }
    .critere .reconnaissance{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 25px auto 0px auto;
    }
    .critere .desengagement{
        flex-direction: column-reverse;
        align-items: center;
    }
    .critere .controle{
        flex-direction: column;
        align-items: center;
    }
    .critere .autonomie{
        flex-direction: column-reverse;
        align-items: center;
    }
    .critere .depossession{
        flex-direction: column;
        align-items: center;
    }
    .critere .deresponsabilisation{
        flex-direction: column-reverse;
        align-items: center;
    }
    .img_vignettes{
        width: 1000px;
        aspect-ratio: 379/168;
    }
}

/* Réduction taille image explication critères */
@media screen and (max-width: 1300px) {
    .img_vignettes{
        width: 800px;
        aspect-ratio: 379/168;
    }
}
@media screen and (max-width: 1100px) {
    .img_vignettes{
        width: 650px;
        aspect-ratio: 379/168;
    }
}

/*Réduction de la taille des images*/
@media screen and (max-width: 1230px) {
    .img_basetheorique{
        width: 500px;
        aspect-ratio: 4226/2889;
    }
}
@media screen and (max-width: 1030px) {
    .img_basetheorique{
        width: 400px;
        aspect-ratio: 4226/2889;
    }
}


/* Lien article MAIAT*/
.container .lien_article{
    text-align: center;
    margin-top: 15px;
}
.container .lien_article p{
    margin: 0;
    padding-bottom: 20px;
}
.container .lien_article a{
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
    padding: 15px;
    margin-left: 2px;
    border: 2px solid white;
    border-radius: 30px;
}
.container .lien_article a:hover{
    border: 2px solid white;
    border-radius: 30px;
    padding: 15px;
    text-decoration: none;
}



/* Changement
    guide.php */
section .container .guide{
    color : white;
    width: 70%;
    margin: auto;
    padding-top: 30px;
}
section .container .guide h1{
    text-align: center;
    padding: 0px;
}
section .container .guide h3{
    text-align: center;
    padding: 0px;
    text-decoration: underline;
}
section .container .guide p{
    padding: 10px;
}
section .container .guide figure{
    text-align: center;
}
section .container .guide .image_guide{
    display: flex;
    flex-direction: row;
    align-items: end;
}
section .container .guide .image_guide_left{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    padding-right: 5px;
}
section .container .guide .image_guide_right{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    padding-left: 5px;
}
section .container .guide .img_radar2{
    width: 900px;
    aspect-ratio: 467/361;
}
section .container .guide .img_questionnaire{
    width: 800px;
    aspect-ratio: 327/151;
}

/* Responsive guide.php */
@media screen and (max-width: 1300px) {
    section .container .guide .image_guide{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section .container .guide .image_guide_right{
        margin-top: 20px;
    }
    section .container .guide .img_questionnaire{
        width: 600px;
        aspect-ratio: 327/151;
    }
    section .container .guide .img_comparaison_diagnostics{
        width: 600px;
        aspect-ratio: 697/364;
    }
    section .container .guide .img_radar2{
        width: 700px;
        aspect-ratio: 467/361;
    }
    section .container .guide{
        width: 60%;
    }
}
@media screen and (max-width: 1200px) {
    section .container .guide .img_radar2 {
        width: 500px;
        aspect-ratio: 467/361;
    }
    section .container .guide .img_questionnaire{
        width: 500px;
        aspect-ratio: 327/151;
    }
    section .container .guide .img_comparaison_diagnostics{
        width: 500px;
        aspect-ratio: 697/364;
    }
}


/* Changement
    projet
    .php */

.projet{
    width: 90%;
    margin: auto;
    align-items: center;
}
/* Modification au dessus des logos des partenaires */
.projet .top{
    width: 70%;
    margin: auto;
}
.projet .top h1,h3,p{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}
.projet .top img{
    display: block;
    margin:0px auto 0px auto;
}
.projet .top .logo_confiance{
    width: 150px;
    aspect-ratio: 366/257;
}
/* Modification à partir des logos des partenaires */
.projet .bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.projet .bottom .bottom-top{
    text-align: center;
    display: block;
    width: 100%;
    align-items: end;
}
.projet .bottom .bottom-top img {
    text-align: center;
    align-items: center;
    margin: auto 130px auto 130px;
}
.projet .bottom .bottom-bottom{
    display: flex;
    flex-direction: row;
    flex-basis: 200px;
    width: 100%;
    box-sizing: border-box;
    align-items: start;
    margin: auto;
}
.projet .bottom .bottom-bottom p{
    width: 33%;
    margin: 0px auto 0px auto;
    padding: 20px;
    text-align: center;
}
.projet .bottom .logo_icam{
    width: 150px;
    aspect-ratio: 400/213;
}
.projet .bottom .logo_spix{
    width: 150px;
    aspect-ratio: 40/17;
}
.projet .bottom .logo_renault{
    width: 150px;
    aspect-ratio: 16/9;
}

/* Responsive Projet */
@media screen and (max-width: 1400px) {
    .projet{
        width: 90%;
        align-items: center;
        margin: auto;
    }
    .projet .top{
        width: 70%;
        margin: auto;
    }
    .projet .top h1,h3,p{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        color: white;
    }
    .projet .top img{
        display: block;
        margin:0px auto 0px auto;
    }
    .projet .bottom {
        width: 80%;
        display: flex;
        flex-direction: row;
        text-align: center;
        margin: auto;
    }

    .projet .bottom .bottom-top {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: center;
        padding: 0px;
    }
    .projet .bottom .bottom-top a {
        padding: 0px;
    }
    .projet .bottom .bottom-top .bottom-top-left{
        margin-top: 80px;
    }
    .projet .bottom .bottom-top .bottom-top-center{
        margin-top: 30px;
    }
    .projet .bottom .bottom-top .bottom-top-right{
        margin-top: 80px;
    }
    .projet .bottom .bottom-top img {
        margin: auto 100px;
    }

    .projet .bottom .bottom-bottom {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin :0px;
        text-align: center;
        align-items: center;
        flex-basis: auto;
    }

    .projet .bottom .bottom-bottom p {
        width: 100%;
        margin: 40px auto 0px auto;
        padding: 0px;
        text-align: center;
    }
}
@media screen and (max-width: 1300px) {
    .projet .bottom .bottom-top .bottom-top-left{
        margin-top: 100px;
    }
    .projet .bottom .bottom-top .bottom-top-center{
        margin-top: 30px;
    }
    .projet .bottom .bottom-top .bottom-top-right{
        margin-top: 100px;
    }
}
@media screen and (max-width: 1100px) {
    .projet .bottom .bottom-top .bottom-top-left{
        margin-top: 120px;
    }
    .projet .bottom .bottom-top .bottom-top-center{
        margin-top: 30px;
    }
    .projet .bottom .bottom-top .bottom-top-right{
        margin-top: 120px;
    }
}