*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Calibri", sans-serif ;
}
body{
    background: linear-gradient(145deg, #476ebf 10%, #5b9bf8 90%);
    height: 100vh;
    background-attachment: fixed;
}
section {
}
section .container{
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 50px;
    height: 100%;
}
section .container header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
section .container nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
section .container nav a{
    margin-left:40px;
    align-items: center;
    color: white;
    font-size: large;
    padding-top : 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}
section .container nav a.active{
    border: 2px solid white;
    border-radius: 30px;
    background-color: #9ec6ff;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}
section .container nav a:hover{
    border: 2px solid white;
    border-radius: 30px;
    background-color: #9ec6ff;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}

/* Changement index.php */
.maiat{
    width: 90%;
    align-items: center;
    margin: auto;
}
.maiat h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
    color: white;
}
.maiat video{
    display: block;
    margin:0px auto 40px auto;
}
.maiat img{
    display: block;
    margin:0px auto 40px auto;
}
.maiat p{
    text-align: center;
    color: white;
    font-size: large;
}
.maiat i{
    text-align: center;
    color: white;
}

/* Changement guide.php */
.guide{
    width: 90%;
    align-items: center;
    margin: auto;
}
     width: 90%;
     margin: auto;
     align-items: center;

.guide h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
    color: white;
}
.guide video{
    display: block;
    margin:0px auto 40px auto;
}
.guide img{
    display: block;
    margin:0px auto 40px auto;
}
/* Changement critere.php */
.critere{
    width: 100%;
    align-items: center;
    margin: auto;
}
.critere h1,a{
    text-align: center;
    color: white;
    padding-bottom:15px;
}
.critere h2,h4{
    text-decoration: underline white;
    padding-bottom: 10px;
    padding-top: 15px;
    text-align: center;
    color: white;
}
.critere p{
    font-size: 18px;
    padding: 0px;
    text-align: justify;
}
.critere li{
     text-align: justify;
     color: white;
     padding: 0px;
     font-size: 18px;
 }
.critere ul{
    margin-top: 10px;
    margin-bottom: 10px;
}
.critere img{
    display: block;
    margin:0px auto 0px auto;
}
.critere .critere_top{
    align-items: center;
    padding-top: 30px;
}
.critere .critere_top img{
    margin:10px auto 0px auto;
}
.critere .critere_bottom{
    align-items: center;
    text-align: center;
}
.critere .critere_bottom a{
    padding: 30px;
    margin: auto;
}
.critere .critere_bottom_top{
    padding: 30px;
    margin: auto;
}
.critere .critere_bottom_top a{
    align-items: center;
    color: white;
}
.critere .critere_bottom_top a:hover{
    border: 2px solid white;
    border-radius: 30px;
    background-color: #9ec6ff;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}
/*critere reconnaissance*/
.critere .reconnaissance{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 476px;
    align-items: start;
    margin-top: 25px;
}
.critere .reconnaissance_left, .reconnaissance_right{
    width: 50%;
}
.critere .reconnaissance_right{
    border: solid white 2px;
    padding: 5px;
}

/*critere desengagement*/
.critere .desengagement{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 476px;
    align-items: start;
    margin-top: 25px;
}
.critere .desengagement_left, .desengagement_right{
    width: 50%;
}
.critere .desengagement_left{
    border: solid white 2px;
    padding: 5px;
}

/*critere controle*/
.critere .controle{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 476px;
    align-items: start;
    margin-top: 25px;
}
.critere .controle_left, .controle_right{
    width: 50%;
}
.critere .controle_right{
    border: solid white 2px;
    padding: 5px;
}

/*critere autonomie*/
.critere .autonomie{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 530px;
    align-items: start;
    margin-top: 25px;
}
.critere .autonomie_left, .autonomie_right{
    width: 50%;
}
.critere .autonomie_left{
    border: solid white 2px;
    padding: 5px;
}


/*critere savoir-faire*/
.critere .depossession{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 594px;
    align-items: start;
    margin-top: 25px;
}
.critere .depossession_left, .depossession_right{
    width: 50%;
}
.critere .depossession_right{
    border: solid white 2px;
    padding: 5px;
}

/*critere deresponsabilisation*/
.critere .deresponsabilisation{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 814px;
    align-items: start;
    margin-top: 25px;
}
.critere .deresponsabilisation_left, .deresponsabilisation_right{
    width: 50%;
}
.critere .deresponsabilisation_left{
    border: solid white 2px;
    padding: 5px;
}


/* Changement projet.php */
.projet{
    width: 90%;
    align-items: center;
    margin: auto;
}
.projet .top{
    width: 70%;
    margin: auto;
}
.projet .top h1,h3,p{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}
.projet .top img{
    display: block;
    margin:0px auto 0px auto;
}
.projet .bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.projet .bottom .bottom-top{
    text-align: center;
    display: block;
    width: 100%;
    align-items: end;
}
.projet .bottom .bottom-bottom{
    display: flex;
    flex-direction: row;
    flex-basis: 200px;
    width: 100%;
    box-sizing: border-box;
    align-items: start;
    margin: auto;
}
.projet .bottom .bottom-top img {
    text-align: center;
    align-items: center;
    margin: auto 130px auto 130px;
}


.projet .bottom .bottom-bottom p{
    width: 33%;
    margin: 0px auto 0px auto;
    padding: 20px;
    text-align: center;
}

/*
@media screen and (max-width: 1400px) {
    section .container {
        text-align: center;
    }

    .critere .reconnaissance{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 872px;
        max-height: 982px;
        width: 100%;
        margin: 15px auto 0px auto;
    }
    .critere .reconnaissance .reconnaissance_left{
        text-align: center;
        margin: 0px auto;
        align-items: center;

    }
    .critere .reconnaissance .reconnaissance_right{
        flex-direction: column;
        align-items: center;
        width: 70%;
    }
    .critere .desengagement{
        flex-direction: column-reverse;
        align-items: center;
        min-height: 872px;
    }
    .critere .controle{
        flex-direction: column;
        align-items: center;
        min-height: 918px;
    }
    .critere .autonomie{
        flex-direction: column-reverse;
        align-items: center;
        min-height: 1050px;
    }
    .critere .depossession{
        flex-direction: column;
        align-items: center;
        min-height: 1092px;
        max-height: 1312px;
    }
    .critere .deresponsabilisation{
        flex-direction: column-reverse;
        align-items: center;
        min-height: 1334px;
    }
}*/
/*.projet .bottom .bottom-left{
    width: 33%;
}
.projet .bottom .bottom-left img{
    display: block;
    margin:0px auto 0px auto;
}
.projet .bottom .bottom-left p{
    margin:0px 0px 0px 0px;
}
.projet .bottom .bottom-center{
    width: 33%;
}
.projet .bottom .bottom-center img{
    display: block;
    margin:0px auto 0px auto;
}
.projet .bottom .bottom-center p{
    margin:0px 0px 0px 0px;
}
.projet .bottom .bottom-right{
    width: 33%;
}
.projet .bottom .bottom-right img{
    display: block;
    margin:0px auto 0px auto;
}
.projet .bottom .bottom-right p{
    margin:0px 0px 0px 0px;
}
*/

/*
header {
    height:15vh;
    width: 100%;
    background-color:#8E94E7;
    background-size: cover;
}
.navbar {
    position:absolute;
    padding-top :40px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}
.navbar.logo{
    width: 50px;
    height: 50px;
}
.navbar .nav-links ul {
    display: flex;
}
.navbar .nav-links ul li {
    margin: 0 25px;
    padding: 20px;
    background-color: #8E94E7;
    border: solid white;
    border-width: thin;
}
.navbar .nav-links ul li.active{
    margin: 0 25px;
    padding: 20px;
    background-color: #eeeeee;
    border: solid white;
    border-width: thin;
}
.navbar .nav-links ul li.active a{
    color:#3333ff;
    font-weight: bold;
}
.navbar .nav-links ul li a{
    color: #ffffff;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 20px;
    margin: -20px;
    font-size: 20px;
}
.navbar .nav-links ul li a:hover{
    color: #ffffff;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 20px;
    margin: -20px;
    background-color: #eeeeee;
}
.nav {
    background-color: yellow;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    width:all;
}

form {
    display: inline-block;
}

.button {
    font-size: 2em;
    padding: 20px;
    background-color: #8E94E7;
    color: white;
}

.button:hover {
    font-size: 2em;
    padding: 20px;
    background-color: #757DEA;
    color: white;
}

body {
    background-color: #8E94E7;
}
*/