*{
    margin : auto;
    text-decoration: none;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Calibri", sans-serif ;
}
section {
}
section .container{
    margin: auto;
    max-width: 1400px;
    padding-top: 50px;
    height: 100%;
}

/*entete avec les barres de nav */
section .fond_entete {
    padding-top: 0;
    background: #0e71a8;
}
section .block_entete{
    margin: auto;
    padding-top: 50px;
    max-width: 1400px;
    height: 100%;
    text-align: center;
    color: white;
}
section header{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
section nav{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
section nav a{
    margin-left:40px;
    align-items: center;
    color: white;
    font-size: large;
    padding-top : 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}
section nav a.active{
    border: 2px solid white;
    border-radius: 30px;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}
section nav a:hover{
    border: 2px solid white;
    border-radius: 30px;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}
section .navbar_deux{
    align-items: center;
    padding: 10px;
}
section .navbar_deux a{
    margin-left:40px;
    align-items: center;
    color: white;
    font-size: large;
    padding-top : 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}
section .navbar_deux a.active{
    border: 2px solid white;
    border-radius: 30px;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}
section .navbar_deux a:hover{
    border: 2px solid white;
    border-radius: 30px;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}

/* tittre entre lignes */
.block_titre{
    text-align : center ;
}
/* legende du diagramme*/
.block_legende{
    text-align : center ;
}
/* taille du diagramme radar */
canvas{
    width: 70%;
}

/*titre des criteres */
.block_titre_critere{
    text-aign : left ;
}

/*table des criteres */
.block_table{
}

table{
}

.block_table table .col_1{
    width:10% ;
    text-align : left ;
}
.block_table table .col_2{
    width: 22,5%;
    text-align : center;
}

/* boutons */
button[type=submit] {
    background-color: #476ebf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button[type=submit]:hover {
    background-color: white;
    color: #476ebf;
    border: 1px solid #476ebf;
}