*{
    margin : auto;
    text-decoration: none;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Calibri", sans-serif ;
}
section {
}
section .container{
    margin: auto;
    max-width: 1400px;
    padding-top: 50px;
    height: 100%;
    text-align: center;
}
section .container header{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
section .container nav{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
section .container nav a{
    margin-left:40px;
    align-items: center;
    color: white;
    font-size: large;
    padding-top : 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}
section .container nav a.active{
    border: 2px solid white;
    border-radius: 30px;
    background-color: #9ec6ff;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}
section .container nav a:hover{
    border: 2px solid white;
    border-radius: 30px;
    background-color: #9ec6ff;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}
section .block_entete{
    padding-top: 0;
    background: linear-gradient(145deg, #476ebf 10%, #5b9bf8 90%);
}

section .container .block_tableau{
    width: 100%;
}

.blanc {
    color: white;
    text-align: center;
}
canvas{
    width: 100%;
}