*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Calibri", sans-serif ;
}
/*body{
    background: linear-gradient(145deg, #476ebf 10%, #5b9bf8 90%);
    height: 100vh;
    background-attachment: fixed;
}*/
body{
    background-attachment: fixed;
}
section {
}
section .container{
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 50px;
    height: 100%;
    text-align: center;
}
section .container header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
section .container nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
section .container nav a{
    margin-left:40px;
    align-items: center;
    color: white;
    font-size: large;
    padding-top : 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}
section .container nav a.active{
    border: 2px solid white;
    border-radius: 30px;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}
section .container nav a:hover{
    border: 2px solid white;
    border-radius: 30px;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}
section .container .guide{
    color : white;
    width: 70%;
    margin: auto;
    padding-top: 30px;
}
section .container h1{
    text-align: center;
}
section .container h3{
    text-align: center;
}
section .container figure{
    text-align: center;
}
section .bas {
    text-align: center;
    color : white;
}
section .container .guide .image_guide{
    display: flex;
    flex-direction: row;
    align-items: end;
}
section .container .guide .image_guide_left{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
section .container .guide .image_guide_right{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}