*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Calibri", sans-serif ;
}
body{
    background-attachment: fixed;
}

/* Tableau */
table{
    width: 100%;
    margin: auto;
}
td{
    text-align: left;
    padding-bottom: 1%;
}
.question{
     width:80% ;
 }

.titre{
    text-align: left;
    width:10% ;
}

/* bouton haut de page */
section {
}
section .container{
    max-width: 1400px;
    margin: auto;
    padding-top: 50px;
    height: 100%;
}
section .container header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin: auto;
}
section .container nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
section .container nav a{
    margin-left:40px;
    align-items: center;
    color: white;
    font-size: large;
    padding-top : 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
}
section .container nav a.active{
    border: 2px solid white;
    border-radius: 30px;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}
section .container nav a:hover{
    border: 2px solid white;
    border-radius: 30px;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}

section .container .navbar_deux{
    align-items: center;
    text-align: center;
    margin: auto;
    width: 80%;
    padding: 10px;
}
section .container .navbar_deux a{
    margin-left:40px;
    align-items: center;
    color: white;
    font-size: large;
    padding-top : 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}
section .container .navbar_deux a.active{
    border: 2px solid white;
    border-radius: 30px;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}
section .container .navbar_deux a:hover{
    border: 2px solid white;
    border-radius: 30px;
    padding-top : 18px;
    padding-bottom: 18px;
    padding-right: 28px;
    padding-left: 28px;
}

/*aligner text au dessus form */
section .block_page{
    align-items: start;
    margin: auto;
    width:70%;
}
section .block_titre{
    width: 70%;
}
section .block_titre h1{
    color: white;
    text-decoration: underline;
    margin-top: 10px;
}
section .block_titre p{
    color: white;
    margin-top: 10px;
}
section .block_form{
    width: 100%;
    margin: 25px auto 0 auto;
}
section .block_form figure{
    text-align: center;
    margin: auto;
}
section .block_form h1{
    text-decoration: underline;
}
section .block_table{
}


/* form*/
section .block_page .block_form form {

    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #b6d1f8;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin : auto ;
    align-items: center;
    text-align: center;
}
section .block_page .block_form form p{
    text-align: left;
}
 section .block_page .block_form #container h3{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 20px;
}

section .block_page .block_form  input[type=text], input[type=password], input[type=checkbox] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

section .block_page .block_form input[type=submit]{
    background-color: #476ebf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
section .block_page .block_form input[type=submit]:hover {
    background-color: white;
    color: #476ebf;
    border: 1px solid #476ebf;
}
section .block_page .block_form button[type=submit] {
    background-color: #476ebf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
section .block_page .block_form button[type=submit]:hover {
    background-color: white;
    color: #476ebf;
    border: 1px solid #476ebf;
}

.ndiag{
    text-align: center;
}

section .block_page .block_form table {
    width: 100%;
    margin: auto;
}
section .block_page .block_form td{
    text-align: left;
    padding-bottom: 1%;
}
section .block_page .block_form .aligne{
    text-align: center;
}
section .block_page .block_form .gras{
    font-weight: bold;
}


/*footer*/
.bas{
    text-align: center;
    color: white;
}

section .container .block_tableau{
    width: 100%;
}
.blanc {
    color: white;
    text-align: center;
    border-radius: 10px;
}
.erreur {
    width: 80% ;
    height: 30%;
    border-radius: 60px / 40px;
    background: rgba(238, 77, 96, 0.54);
    text-align: center;
}
.bouton_telechargement{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    vertical-align: middle;
}
.tableur{
    padding: 15px;
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 30px;
    width: 250px;
    height: 90px;
    text-align: center;
    font-weight: bold;
}
.tableur a{
    align-items: center;
    vertical-align: center;
}
.tableur:hover{
    padding: 15px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 30px;
    width: 250px;
    height: 90px;
    text-align: center;
    font-weight: bold;
}

/* Responsive diagnostic hors ligne */
@media screen and (max-width: 1200px) {
    .img_securite{
        width: 500px;
        height: 20px;
    }
    .tableur{
        padding: 15px;
        background-color: white;
        color: black;
        font-weight: bold;
        border: 2px solid white;
        border-radius: 30px;
        width: 200px;
        height: 90px;
        text-align: center;
    }
    .tableur:hover{
        padding: 15px;
        background-color: white;
        color: black;
        font-weight: bold;
        border: 2px solid black;
        border-radius: 30px;
        width: 200px;
        height: 90px;
        text-align: center;
    }
}

input[type='radio'] {
    height: 25px;
    width: 25px;
    vertical-align: middle; }




